.mainchat
  .mainchat__name
    .groupname
      = @group.name
      .groupuser
        Member:
        - @group.users.each do |user|
          = user.name

    .editbottan
      = link_to edit_group_path(@group) do
        = "Edit"
  .mainchat__chat
    = render @messages

  .mainchat__text
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
    -# %form.new-messege
    -#   .input-box
    -#     %input{type: "text", class: "input-box__text", placeholder: "type a messege"}
    -#     %label{class: "input-box__image"}
    -#       =icon('fas', 'image')
    -#       %input{type: "file", class: "input-box__image__file"}
    -#   %input{type: "submit", value: "send", class: "submit-btn"}
